#userpage{
    height: 80vh;
}

#userpage header{
    background-color: var(--main-blue-ligth);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    z-index: 1;
    height: 35vh;

    h2{
        color: var(--blue-dark);
    }
}

#userpage .tripPattern{
    background-color: transparent;
    position: absolute;
    top: 35vh;
}

#userpage .cardDeck{
    justify-content: left;
    margin-bottom: 0;
}

#userpageDeck .card{
    background-color: white;
    width: 30%;
    border: solid var(--blue-dark);
    border-width: 0px 4px 4px 0px ;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    h5{
        color: rgba(0, 0, 0, 0.52);
    }
}