#navbar {
    background-color: var(--main-blue-ligth);
    position: relative;
    display: flex;
    padding: 3vh;

    img {
        width: 6vw;
        align-items: flex-start;
    }
}

.instructionButtons {
    width: fit-content;
    margin-left: auto;
    display: flex;
    gap: 2vw;

    button {
        width: calc(2em*3);
        height: 4vh;
        color: white;
        background-color: var(--blue-detail);
        border: 1px solid white;
        border-radius: 5px;
        position: relative;
        z-index: 999;
    }

    .darkButton {
        background-color: var(--blue-dark);
    }
}

.icon {
    background-color: transparent;
    border: none;
    width: fit-content;
}
