*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
}


/* :root{
  --blue-ligth: #8CC1FF;
  --blue-dark: hsl(244, 100%, 26%);
  --blue-detail: #197EC0;
  --text-gray: #5E6282;
} */